<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>{{#link-to 'library' }}Library{{/link-to}}</li>
                <li class="active">All</li>
            </ol>
        </div>
    </div>

    {{#each}}
    <div class="row">

            {{#each this}}
                <div class="col-lg-2">
                {{#link-to 'book' this class="thumbnail"}}
                    <img {{bind-attr src=cover}} style="width:100%;">
                {{/link-to}}
                </div>
            {{/each}}

    </div>
    {{/each}}

<div>
