.editor-wrapper {
  border: 1px solid #ccc;
  width: 100%;
}
.editor-container {
  height: 400px;
}
.toolbar-container {
  border-bottom: 1px solid #ccc;
}
.toolbar-container .sc-format-group {
  margin-right: 10px;
}
.toolbar-container .sc-active,
.toolbar-container button:hover {
  color: #008000;
  font-weight: bold;
}
