{% extends 'base.html' %}

{% block content %}

<div class="row" style="height:5%"></div>

<div class="row">

    <div class="large-3 columns">

        <a class="th">
            <img src="{{ book['cover']}}" width="100%"/>
        </a>

        <br/><br/>

        <dl>
            <dt><i class="fa fa-download"></i> Downloads</dt>
            <dd>
                <ul class="button-group">
                    {% for format in book['files'] %}
                    <li><a href="/download/{{ book['id'] }}/{{ format }}" class="button small">{{ format }}</a></li>
                    {% endfor %}
                </ul>
            </dd>
        </dl>

    </div>

    <div class="large-9 columns">

        <h3>{{ book['title'] }}</h3>

        {% if book['subtitle'] %}
        <h4><i>{{ book['subtitle'] }}</i></h4>
        {% endif %}

        <h5>By {% for author in book['authors'] %}
            {{ author }}
        {% endfor %}</h5>

        <br>

        <dl>
            <dt>Description</dt>
            <dd>{{ book['description']|safe }}</dd>
        </dl>

    </div>

</div>

{% endblock %}
