<!doctype html>
<html class="no-js" lang="en">

    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Alexandria</title>
        <link href="/static/libs/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="/static/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/libs/tagmanager/tagmanager.css" rel="stylesheet">

    </head>
    <body>

        <script src="/static/libs/jquery/jquery.min.js"></script>
        <script src="/static/libs/bootstrap/bootstrap.min.js"></script>
        <script src="//builds.emberjs.com/handlebars-1.0.0.js"></script>
        <script src="http://builds.emberjs.com/release/ember.js"></script>
        <script src="//builds.emberjs.com/tags/v1.0.0-beta.7/ember-data.js"></script>
        <script src="/static/libs/dropzone/dropzone.js"></script>
        <script src="/static/libs/tagmanager/tagmanager.js"></script>

        {% if session['username'] %}
        <script src="/static/js/app.js"></script>
        <script src="/static/js/routes.js"></script>
        <script src="/static/js/controllers.js"></script>
        <script src="/static/js/views.js"></script>
        {% else %}
        <script src="/static/js/portal.js"></script>
        {% endif %}

    </body>

</html>
