<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Alexandria</title>
        <link rel="stylesheet" href="/static/css/foundation.min.css" />
        <link rel="stylesheet" href="/static/css/jquery.growl.css" />
        <script src="/static/js/vendor/modernizr.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>

        {% if session.get('username') %}
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Alexandria</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>

            <section class="top-bar-section">
                <ul class="right">
                    <li class="divider"></li>
                    <li id="library_menu"><a href="/library"> <i class="fa fa-book"></i> &nbsp;Library</a></li>
                    <li class="divider"></li>
                    {% if session.get('role') == 0 %}
                    <li id="upload_menu"><a href="/upload"> <i class="fa fa-upload"></i> &nbsp;Upload</a></li>
                    <li class="divider"></li>
                    <li id="settings_menu"><a href="/preferences"> <i class="fa fa-cogs"></i> &nbsp;Preferences</a></li>
                    <li class="divider"></li>
                    {% endif %}
                    <li><a href="/logout"> <i class="fa fa-power-off"></i> &nbsp;Sign Out {{ session.get('realname').split(' ')[0] }}</a></li>
                    <li class="divider"></li>
                </ul>
            </section>
        </nav>
        {% endif %}

        {% block content %}{% endblock %}

        <script type="text/javascript">
            switch (window.location.pathname.split('/')[1]) {

                case 'upload':

                    document.getElementById("upload_menu").className = "active";
                    break;

                case 'library':

                    document.getElementById("library_menu").className = "active";
                    break;

                case 'settings':

                    document.getElementById("settings_menu").className = "active";
                    break;

                default:

                    ''
            }
        </script>

    </body>

</html>
