{% extends 'base.html' %}

{% block content %}

<div class="row" style="height:2%"></div>

<div class="row">

    <div class="large-12 columns">

        <ul class="breadcrumbs">
            <li><a href="/library">Library</a></li>
            <li class="unavailable"><a href="#">Books</a></li>
            <li class="current"><a href="#">{{ book['title'] }}</a></li>
        </ul>

    </div>

</div>

<div class="row">

    <div class="large-3 columns">

        <a class="th">
            <img src="{{ book['cover']}}" width="100%"/>
        </a>

        <br/><br/>

        <dl>
            <dt><i class="fa fa-download"></i> Downloads</dt>
            <dd>
                <ul class="button-group">
                    {% for format in book['files'] %}
                    <li><a href="/download/{{ book['id'] }}/{{ format }}" class="button small">{{ format }}</a></li>
                    {% endfor %}
                </ul>
            </dd>
        </dl>

        {% if session.get('role') == 0 %}<a href="/edit/{{ book['id'] }}">Edit</a>{% endif %}

    </div>

    <div class="large-9 columns">

        <h3>{{ book['title'] }}</h3>

        {% if book['subtitle'] %}
        <h4><i>{{ book['subtitle'] }}</i></h4>
        {% endif %}

        <h5>By {% for author in book['authors'] %}
            <a href="/author/{{ author }}">{{ author }}</a>
        {% endfor %}</h5>

        <br>

        <dl>
            <dt>Description</dt>
            <dd>{{ book['description']|safe }}</dd>
        </dl>

        <dl>
            <dt>Genres</dt>
            <dd><ul class="inline-list">{% for genre in book['genres'] %} <li><a href="/genre/{{ genre }}">{{ genre }}</a></li> {% endfor %}</ul></dd>
        </dl>

    </div>

</div>

{% endblock %}
