{% extends "base.html" %}

{% block content %}

<div style="height:100%">
<div id="forms">

    <div class="row">

        <div class="large-4 columns">
            <h1><small>Login</small></h1>
        </div>

        <div class="large-4 columns">
            <h1><small>Register</small></h1>
        </div>

        <div class="large-4 columns">
            <h1><small>Reset Password</small></h1>
        </div>

    </div>

    <div class="row">

        <div class="large-12 columns">
            <hr>
        </div>

    </div>

    <div class="row">

        <div class="large-4 columns">

            <form id="login" action="/portal/login" method="POST">

                <div class="row">

                    <div class="large-12 columns">
                        <label>Username</label>
                        <input type="text" placeholder="marktwain" name="username"/>
                    </div>

                    <div class="large-12 columns">
                        <label>Password</label>
                        <input type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" name="password"/>
                    </div>

                    <div class="large-12 columns">
                        <a href="#" class="button postfix" onclick="document.getElementById('login').submit();">LOGIN</a>
                    </div>

                </div>

            </form>

        </div>

        <div class="large-4 columns">

            <form id="register" action="/portal/register" method="POST">

                <div class="row">

                    <div class="large-12 columns">
                        <label>Real Name</label>
                        <input type="text" placeholder="Mark Twain" name="realname"/>
                    </div>

                    <div class="large-12 columns">
                        <label>Username</label>
                        <input type="text" placeholder="marktwain" name="username"/>
                    </div>

                    <div class="large-12 columns">
                        <label>Email Address</label>
                        <input type="text" placeholder="mark@twain.com" name="emailadd"/>
                    </div>

                    <div class="large-12 columns">
                        <label>Password</label>
                        <input type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" name="password"/>
                    </div>

                    <div class="large-12 columns">
                        <a href="#" class="button postfix" onclick="document.getElementById('register').submit();">REGISTER</a>
                    </div>

                </div>

            </form>

        </div>

        <div class="large-4 columns">

            <form id="reset" action="/portal/reset" method="POST">

                <div class="row">

                    <div class="large-12 columns">
                        <label>Username or Email Address</label>
                        <input type="text" placeholder="marktwain" />
                    </div>

                    <div class="large-12 columns">
                        <a href="#" class="button postfix" onclick="document.getElementById('reset').submit();">RESET PASSWORD</a>
                    </div>

                </div>

            </form>

        </div>

    </div>
</div>
</div>

{% include "scripts.html" %}

<script src="/static/js/flexverticalcenter.js"></script>

<script type="text/javascript">

    window.flexVerticalCenter(document.getElementById('forms'));

</script>

{% endblock %}
