<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Alexandria</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>

    <body>

        <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//builds.emberjs.com/handlebars-1.0.0.js"></script>
        <script src="http://builds.emberjs.com/release/ember.js"></script>
        <script src="//builds.emberjs.com/tags/v1.0.0-beta.7/ember-data.js"></script>
        <script src="/static/libs/flexverticalcenter/flexverticalcenter.js"></script>
        <script src="/static/js/portal.js"></script>

    </body>

</html>
