{% extends 'base.html' %}

{% block content %}

<div class="row" style="height:5%"></div>

<form name="edit">

    <div class="row">

        <div class="large-2 large-offset-10 columns">

            <a href="#" class="button postfix" onclick="save();">SAVE</a>

        </div>

    </div>

    <div class="row">

        <div class="large-12 columns">

            <h5>Confirmation</h5>
            <input name="confirm" value="true" type="checkbox" {% if preferences['confirm'] %}checked{% endif %}><label for="checkbox1">Manually confirm eBook metadata when uploading</label>

            <label><sup>&#10033;</sup> Enabling this will limit you to dragging and dropping one eBook at a time.</label>

        </div>

    </div>

    <div class="row">

        <div class="large-12 columns">

            <hr>

        </div>

    </div>

    <div class="row">

        <div class="large-12 columns">

            <h5>Authorized Users (One Per Line)</h5>
                <textarea style="resize: none;" name="authorized" rows="10">{% for authorized in preferences['authorized'] %}{{ authorized + '\n' }}{% endfor %}</textarea>

        </div>

    </div>

    <br>

    <div class="row">

        <div class="large-2 large-offset-10 columns">

            <a href="#" class="button postfix" onclick="save();">SAVE</a>

        </div>

    </div>


</form>

{% include 'scripts.html' %}

<script src="/static/libs/jquery-growl/jquery.growl.js"></script>
<script src="/static/js/alexandria/preferences.js"></script>

{% endblock %}
