<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Alexandria</title>
        <link rel="stylesheet" href="/static/libs/foundation/foundation.min.css" />
        <link rel="stylesheet" href="/static/libs/jquery-growl/jquery.growl.css" />
        <link rel="stylesheet" href="/static/libs/quill/quill.snow.css" />
        <link rel="stylesheet" href="/static/css/quill.css" />
        <link rel="stylesheet" href="/static/css/animate.min.css" />
        <link rel="stylesheet" href="/static/css/typeahead.css" />
        <script src="/static/libs/foundation/vendor/modernizr.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>

        {% if session.get('username') %}
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Alexandria</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>

            <section class="top-bar-section">
                <ul class="right">
                    <li class="divider"></li>
                    <li id="library_menu"><a href="/library"> <i class="fa fa-book"></i> &nbsp;Library</a></li>
                    <li class="divider"></li>
                    {% if session.get('role') == 0 %}
                    <li id="upload_menu"><a href="/upload"> <i class="fa fa-upload"></i> &nbsp;Upload</a></li>
                    <li class="divider"></li>
                    <li id="settings_menu"><a href="/preferences"> <i class="fa fa-cogs"></i> &nbsp;Preferences</a></li>
                    <li class="divider"></li>
                    {% endif %}
                    <li><a href="/logout"> <i class="fa fa-power-off"></i> &nbsp;Sign Out {{ session.get('realname').split(' ')[0] }}</a></li>
                    <li class="divider"></li>
                </ul>
            </section>
        </nav>
        {% endif %}

        <div class="row" style="height:5%"></div>

        <form name="edit">

            <div class="row">

                <div class="large-2 large-offset-10 columns">

                    <a href="#" class="button postfix" onclick="save();">SAVE</a>

                </div>

            </div>

            <div class="row">

                <div class="large-12 columns">

                    <h5>Confirmation</h5>
                    <input name="confirm" value="true" type="checkbox" {% if preferences['confirm'] %}checked{% endif %}><label for="checkbox1">Manually confirm eBook metadata when uploading</label>

                    <label><sup>&#10033;</sup> Enabling this will limit you to dragging and dropping one eBook at a time.</label>

                </div>

            </div>

            <div class="row">

                <div class="large-12 columns">

                    <hr>

                </div>

            </div>

            <div class="row">

                <div class="large-12 columns">

                    <h5>Authorized Users (One Per Line)</h5>
                        <textarea style="resize: none;" name="authorized" rows="10">{% for authorized in preferences['authorized'] %}{{ authorized + '\n' }}{% endfor %}</textarea>

                </div>

            </div>

            <br>

            <div class="row">

                <div class="large-2 large-offset-10 columns">

                    <a href="#" class="button postfix" onclick="save();">SAVE</a>

                </div>

            </div>


        </form>

        {% include 'scripts.html' %}

        <script src="/static/libs/jquery-growl/jquery.growl.js"></script>
        <script src="/static/js/preferences.js"></script>

    </body>

</html>
